
/* カードコンポーネントのCSS */
.item-price {
    color: red;
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
}
.credit-ok {
    background-color: rgb(95, 95, 247);
    font-size: 12px;
    border-radius: 10px;
    color: white;
    padding: 5px;
}
.credit-ng {
    background-color: rgb(247, 95, 95);
    font-size: 12px;
    border-radius: 10px;
    color: white;
    padding: 5px;
}
